
<tr>
	<td><%= file_management.title %></td>
	<td><%= file_management.description %></td>
	<td><%= file_management.attachment.file.filename %></td>
	<td><%= link_to 'Edit', edit_file_management_path(file_management) %></td>
	<td><%= link_to 'Delete', file_management, :method => 'delete' %></td>
	<td><%= link_to 'Download file', file_management.attachment.url %></td>
</tr>
