<%= form_for @file do |f| %>
<div>
<% if @file.errors.full_messages.any? %>
  <% @file.errors.full_messages.each do |error_message| %>
    <p style="color:red;"> <%= error_message if @file.errors.full_messages.first == error_message %></p>
  <% end %>
<% end %>  
</div>

<table>
  
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>

  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_area :description %></td>
  </tr>

  <tr>
    <td><%= f.label :attachment %></td>
    <td><%= f.file_field :attachment %></td>
  </tr>

  <tr>
    <td></td>
    <td><%= f.submit %></td>
  </tr>

</table>

<% end %>